html {
  margin: 0 8%;
  background-color:rgb(96, 96, 96);
  
}

.hero-bg-image {
  min-height: 500px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), 
     url("../images/heroImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: black;
}

#navbar {
  display: flex;
  justify-content: center;
}

#navbar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-item {
  padding: 10px;
}

.hidden{
  display: none;
}

h1 {
  color: red;
  text-align: left;
}

h4, h6{
  text-align: center;
}

.footer-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
