html {
  margin: 0 8%;
  background-color:rgb(96, 96, 96);
  
}

/* Navigation bar */
nav {
  background-color: black;
}

.navbar-brand{
  font-size: 25px;
}

.nav-item {
  padding: 10px;
}

/* Hero section for user input */
.hero-bg-image {
  min-height: 500px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), 
     url("../images/heroImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* User result section */
.hidden{
  display: none !important;
}
.card-img-top {
  width: 100% ;
  height: 65% ;
  margin: 0 0;
  top : 50% ;
  border-radius: 10px;
}
 .card {
  border:none
 }
.btn-next {
margin-left :-10px;
}
.card-text {
  margin-bottom: 0px;
}


 

/* Footer section */
h6{
  text-align: center;
  padding: 10px;
}


.footer-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.footer-item {
    color: white;
}
